.c-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  white-space: nowrap;
  padding: $button-padding-y $button-padding-x;
  border-radius: $button-border-radius;
  border: 1px solid transparent;
  line-height: $button-line-height;
  font-weight: normal;
  cursor: pointer;
  transition: $button-transition;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &.disabled,
  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  & + .c-button {
    margin-left: 0.5rem;
  }

  @each $key, $value in $theme-colors {
    &.#{$key} {
      background: $value;
      @if $key != 'plain' {
        color: $color-white;
      }
      &:hover {
        opacity: 0.6;
      }
      &:focus {
        outline: 0;
        box-shadow: $button-focus-size rgba($value, 0.5);
      }
    }
    &.#{$key}.outline {
      $outline-border-color: '';
      $outline-color: '';

      @if $key != 'plain' {
        $outline-border-color: $value;
        $outline-color: $value;
      } @else {
        $outline-border-color: $base-color;
        $outline-color: $base-color;
      }

      background: transparent;
      border-color: $outline-border-color;
      color: $outline-color;
      transition: $button-outline-transition;

      &:hover {
        background: $outline-border-color;
        color: $color-white;
        opacity: 1;
      }
    }
    &.#{$key}.flat {
      background: transparent;
      border-color: transparent;
      transition: $button-outline-transition;

      @if $key != 'plain' {
        color: $value;
      } @else {
        color: $base-color;
      }

      &:hover {
        background: $plain-color;
        opacity: 1;
      }
    }
  }

  @each $key, $value in $size {
    &.size-#{$key} {
      font-size: $value * 1rem;
    }
  }
}
