.c-button {
  @include hover-behavior;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 0.15rem;
  border: 1px solid transparent;
  line-height: 1.5;
  font-weight: normal;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  & + .c-button {
    margin-left: 0.5rem;
  }

  @each $key, $value in $theme-colors {
    &.#{$key} {
      background: $value;
      @if $key != 'plain' {
        color: $color-white;
      }
    }
    &.#{$key}.outline {
      background: transparent;
      @if $key != 'plain' {
        border-color: $value;
        color: $value;
      } @else {
        border-color: $base-color;
        color: $base-color;
      }
    }
  }
}
