.c-form-group {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;

  &.vertical {
    flex-direction: column;
    align-content: flex-start;
    .c-radio + .c-radio {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }

  label,
  span {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .c-radio + .c-radio {
    margin-left: 0.75rem;
  }
}

// radio

.c-radio {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  input[type='radio'] {
    position: absolute;
    opacity: 0;

    & + label::before,
    & + span::before {
      width: 1rem;
      height: 1rem;
      margin-right: 0.25rem;
      background-image: url('~@src/assets/image/radio_button_unchecked.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
    }
    &:checked + label::before,
    &:checked + span::before {
      background-image: url('~@src/assets/image/radio_button_checked.svg');
    }
    &:disabled + label,
    &:disabled + span {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
