.c-list-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
  color: $base-color;

  &.bone {
    .list-group-item {
      border-right: 0;
      border-left: 0;
      &:first-child {
        border-top: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  a {
    color: inherit;
    transition: background 0.2s ease;
    &:hover {
      background: $plain-bg;
      text-decoration: none;
    }
  }

  .list-group-item {
    display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid $oc-gray-4;
    & + .list-group-item {
      border-top: none;
    }

    &.active {
      border-color: $primary-color;
      background-color: $primary-color;
      color: $color-white;
    }

    &.disabled {
      color: rgba($base-color, 0.3);
      pointer-events: none;
    }
  }
}
