.c-title-group {
  justify-content: center;
  text-align: center;

  &.is-left {
    justify-content: flex-start;
    text-align: left;
  }
  &.is-right {
    justify-content: flex-end;
    text-align: right;
  }
  &.is-uppercase {
    text-transform: uppercase;
  }
  &.is-lowercase {
    text-transform: lowercase;
  }

  &.is-horizontal {
    display: flex;
    align-items: baseline;
    > .sub-title {
      margin-left: 1rem;
    }
  }

  > .title {
    font-size: $titleGroup-title-font-size;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  > .sub-title {
    @if $enable-title-group-sub-title == false {
      display: none;
    }
    margin-top: 0.5rem;
    font-size: $titleGroup-subTitle-font-size;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.075em;
  }
  > .lead {
    margin: 0.75rem 0 0;
    color: $titleGroup-lead-color;
    font-size: $titleGroup-lead-font-size;
    line-height: 2;
  }
}
