.c-title-group {
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  &.left {
    justify-content: flex-start;
    text-align: left;
  }
  &.right {
    justify-content: flex-end;
    text-align: right;
  }
  &.lowercase {
    text-transform: lowercase;
  }

  &.horizontal {
    display: flex;
    align-items: baseline;
    > .sub-title {
      margin-left: 1rem;
    }
  }

  > .title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  > .sub-title {
    @if $enable-title-group-sub-title == false {
      display: none;
    }
    margin-top: 0.5rem;
    font-size: 0.95rem;
    font-weight: normal;
    letter-spacing: 0.075em;
  }
}
