@import '~open-color/open-color.scss';

$base-color: $oc-gray-9 !default;

$color-white: #fff !default;
$color-black: #000 !default;

$plain-color: $oc-gray-2 !default;
$primary-color: $oc-blue-4 !default;
$success-color: $oc-lime-6 !default;
$danger-color: $oc-red-7 !default;
$warning-color: $oc-orange-6 !default;
$info-color: $oc-cyan-4 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'plain': $plain-color,
    'primary': $primary-color,
    'success': $success-color,
    'danger': $danger-color,
    'warning': $warning-color,
    'info': $info-color,
  ),
  $theme-colors
);
