@import '~open-color/open-color.scss';

$color-white: #fff;
$color-black: #000;

$base-color: $oc-gray-9;

$plain-color: $oc-gray-2;
$primary-color: $oc-blue-4;
$success-color: $oc-lime-4;
$danger-color: $oc-red-7;
$warning-color: $oc-yellow-4;
$info-color: $oc-cyan-4;
