// Fonts

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Yu Gothic', YuGothic,
  'Hiragino Kaku Gothic ProN', Meiryo, Roboto, 'Helvetica Neue', Arial, Noto Sans, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;

$h1-font-size: 2.5rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

// size

$size: (
  xs: 0.75,
  sm: 0.875,
  md: 1,
  lg: 1.25,
) !default;

// grid

$grid-gap: 2rem !default;

// Button

$button-padding-y: 0.5rem !default;
$button-padding-x: 1rem !default;
$button-border-radius: 0.15rem !default;
$button-line-height: 1.5 !default;
$button-focus-size: 0 0 0 0.2rem !default;
$button-transition: opacity 0.2s ease !default;
$button-outline-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !default;

// Alert

$alert-padding-y: 1rem !default;
$alert-padding-x: 1rem !default;
$alert-border-radius: 0.15rem !default;
